[Desktop Entry]
Type=Application
Version=1.0
Name=AcidDrop
Comment=Liquid Acid Drop puzzle game
Exec=AcidDrop
Icon=icon
Terminal=false
Categories=Game;PuzzleGame;
Keywords=acid;drop;puzzle;vulkan;
